mixin create-experience-card(exp)
  - const finalDate = `${exp.isPresent ? 'Present' : exp.toMonth}`
  .column.is-two-fifths
    .card.use-poppins.is-unselectable(data-aos='fade-left', data-aos-anchor-placement='center-bottom', data-aos-delay=expDelay)
      .card-content
        .media
          .media-left
            figure.image.is-48x48
              img(src=`./assets/${ exp.companyLink }` alt='Company Logo')
          .media-content
            p.title.has-text-black #{ exp.positionName }
            p.subtitle.has-text-grey.is-italic #{ exp.companyName }
        .content
          each line in exp.workDesc
            span #{ line } <br/><br/>
      footer.card-footer
          p.card-footer-item.has-text-link From #{ exp.fromMonth } to #{ finalDate }
