---
import ColorScript from "../components/ColorScript.astro";
import Footer from "../components/Footer.astro";
import type { HeadProps } from "../components/Head.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";

type Props = HeadProps;

const { title, description, image, publishDate, author, type } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head
    title={title}
    description={description}
    image={image}
    publishDate={publishDate}
    author={author}
    type={type}
  />
  <body
    class="align-center flex flex-col items-center bg-stone-100 font-serif text-lg text-stone-900 transition-colors duration-75 selection:bg-stone-300 dark:bg-stone-900 dark:text-stone-100 dark:selection:bg-stone-700"
  >
    <Header />
    <main id="main-content" role="main">
      <slot />
    </main>
    <Footer />
    <ColorScript />
  </body>
</html>
